.alert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 28vw;
  height: 6vh;
}

.error-alert {
  border: 2px solid #8b0000;
  background-color: #fadbdb;
  color: #ff0000;
}

.success-alert {
  border: 2px solid #32cd32;
  background-color: #defade;
  color: #32cd32;
}

.success_message,
.error_message {
  font-size: 1.4em;
}
