.double_show {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5vh;
}

.double_show_section {
  width: 98%;
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.action_button {
  background-image: linear-gradient(
    to right bottom,
    #ffae00,
    #fdbe23,
    #fbcc3b,
    #fada51,
    #f9e866
  ) !important;
  background-image: -webkit-linear-gradient(
    to right bottom,
    #ffae00,
    #fdbe23,
    #fbcc3b,
    #fada51,
    #f9e866
  ) !important;
}
