.favorites_section {
    width: 100%;
    height: 89vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sectioned_shows {
    width: 98%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vh;
}

.notice {
    color: #d3d3d3;
    text-align: center;
}
