.homepage {
    width: 100%;
    min-height: 100vh;
}

.page_header + .main_container {
    padding-top: 11vh;
}

.page_header + .login {
    padding-top: 11vh;
}

.page_header + .register_page {
    padding-top: 11vh;
}