.introduction {
  padding: 4vh 1vw;
  text-align: center;
  width: 65%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: repeating-linear-gradient(
      157.5deg,
      rgb(34, 34, 34) 0px,
      rgb(34, 34, 34) 10px,
      transparent 10px,
      transparent 11px
    ),
    repeating-linear-gradient(
      67.5deg,
      rgb(34, 34, 34) 0px,
      rgb(34, 34, 34) 10px,
      transparent 10px,
      transparent 11px
    ),
    linear-gradient(90deg, rgb(52, 52, 52), rgb(52, 52, 52));
  background-image: -webkit-repeating-linear-gradient(
      157.5deg,
      rgb(34, 34, 34) 0px,
      rgb(34, 34, 34) 10px,
      transparent 10px,
      transparent 11px
    ),
    repeating-linear-gradient(
      67.5deg,
      rgb(34, 34, 34) 0px,
      rgb(34, 34, 34) 10px,
      transparent 10px,
      transparent 11px
    ),
    linear-gradient(90deg, rgb(52, 52, 52), rgb(52, 52, 52));
}

.introduction_page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 89vh;
}

.heading {
  background-image: linear-gradient(
    to right bottom,
    #f14f2e,
    #f03f42,
    #ec3154,
    #e42764,
    #d82474
  );
  background-image: -webkit-linear-gradient(
    to right bottom,
    #f14f2e,
    #f03f42,
    #ec3154,
    #e42764,
    #d82474
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 1vh;
  cursor: default;
}

.info {
  background-image: -webkit-linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.05em !important;
  font-weight: normal;
  width: 62%;
  word-break: break-word;
  margin-bottom: 6vh;
  cursor: default;
}
