.landingpage {
  width: 100%;
  min-height: 100vh;
}

.main_container {
  width: 100%;
  min-height: 89vh;
}

.page_header + .main_container {
  padding-top: 11vh;
}

.page_header + .login {
  padding-top: 11vh;
}

.page_header + .register {
  padding-top: 11vh;
}