.mobile_homepage {
  width: 100%;
  min-height: 100vh;
}

.mobile_header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 10vh;
}

.mobile_header_logo {
  height: 12.5em;
  width: 12em;
  margin-top: -2vh !important;
}

.mobile_mockup {
  height: 23.3em;
  width: 23.3em;
  margin-top: 3vh;
}

.mobile_header_text {
  font-size: 2.7em;
  background-image: linear-gradient(
    to right bottom,
    #f14f2e,
    #f03f42,
    #ec3154,
    #e42764,
    #d82474
  );
  background-image: -webkit-linear-gradient(
    to right bottom,
    #f14f2e,
    #f03f42,
    #ec3154,
    #e42764,
    #d82474
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 !important;
  margin-top: -6vh !important;
}

.mobile_policy_link {
  text-decoration: none;
  font-size: 0.9em;
  color: #ffefd5;
  cursor: pointer;
  font-weight: bold;
}

.googlePlayButton {
  height: 8vh;
  /*margin-top: 4vh;*/
  /*margin-bottom: 2vh;*/
}

.amazonPlayButton {
  height: 5.3vh;
}
.downloadSources {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vh;
}
.app_company {
  height: 10vh;
  border-radius: 2px;
  margin-top: 3vh;
}

.app_signature {
  color: #f8f8ff;
  font-weight: normal;
  font-size: 1.3em;
}

.app_signature::after {
  content: ".";
}

.mobile_footer {
  margin: 4vh 0;
}
