.search_results {
  margin-top: 3vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.show_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99%;
}

.action_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  width: 89%;
  height: 6vh;
  font-size: 1.5em;
  font-weight: bold;
  color: #222222;
  border-radius: 5px;
  background-image: linear-gradient(
    to right bottom,
    #fc5a69,
    #fc676f,
    #fc7275,
    #fc7e7c,
    #fb8883
  );
  background-image: -webkit-linear-gradient(
    to right bottom,
    #fc5a69,
    #fc676f,
    #fc7275,
    #fc7e7c,
    #fb8883
  );
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.minimized {
  transform: rotate(180deg);
}

.show_results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search_posters {
  width: 12vw;
  height: 32.1vh;
  border-radius: 3px;
  margin: 3vh 0;
  box-shadow: #1d1d1d 1px 6px 8px 10px !important;
  cursor: pointer;
}

.sectioned_posters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 99%;
}

.search_text {
  font-size: 1.8em;
  font-weight: bold;
  background-image: -webkit-linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: flex-start;
  margin-left: 2vw;
  margin-bottom: 3vh;
}

.notice {
  color: #ffefd5;
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
}
