.show {
  width: 100vw;
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.show_section {
  display: flex;
  flex-direction: column;
  padding: 15px;
  box-shadow: #1d1d1d 1px 1px 8px 8px;
  border-radius: 2px;
}

.empty {
  color: #ffefd5;
  margin-left: 0.5vw;
}

.invalid_query {
  color: #ff5959;
  text-shadow: #0c0c0c 3px 1px 5px;
}
