.register {
  width: 100vw;
  height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url("../resources/login_reg_bg.jpg");
  background-size: cover;
}

.register_page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 18px;
}

.user_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background-color: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.register_page {
  width: 90vw;
  height: 54vh;
}

.user_inputs {
  width: 25vw;
  height: 43vh;
}

.user_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: -2vh;
}

.email,
.password {
  width: 20vw;
}

.detail {
  font-size: 1.5em;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  margin: 1vh 0;
  background-color: #000000;
  color: #ffefd5;
}

.personal_details,
.explicit {
  display: flex;
  width: 21.8vw;
  flex-direction: row;
  justify-content: space-between;
}

.explicit {
  align-items: center;
  width: 20vw;
}

.explicit_label {
  color: #ffefd5;
  font-weight: bolder;
  font-size: 1.2em;
  margin: 1vh 0.6vw;
}

.explicit_switch {
  margin-right: 1vw;
}

.name {
  width: 15vw;
}

.age {
  width: 2.5vw;
}

.age::-webkit-outer-spin-button,
.age::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.age[type="number"] {
  -moz-appearance: textfield;
}

.reg_btn {
  padding: 10px 0;
  width: 22vw;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  color: #222222;
  border: none;
  border-radius: 10px;
  box-shadow: #1d1d1d 1px 1px 8px 5px;
  cursor: pointer;
  margin-top: 4vh;
  background-image: linear-gradient(
    to right bottom,
    #72ffb6,
    #5ef4a2,
    #4ae88e,
    #33dd79,
    #10d164
  );
  background-image: -webkit-linear-gradient(
    to right bottom,
    #72ffb6,
    #5ef4a2,
    #4ae88e,
    #33dd79,
    #10d164
  );
}

.detail:focus,
.reg_btn:focus {
  outline: none;
}

.error {
  position: relative;
  animation: shake 0.1s linear;
  animation-iteration-count: 6;
  border: 2px solid #cd5c5c;
}

@keyframes shake {
  0% {
    left: -3px;
  }
  100% {
    right: -3px;
  }
}

.header {
  background-image: -webkit-linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em;
  font-weight: normal;
  margin-top: 1vh;
  margin-bottom: 0;
  word-spacing: 20vw;
  word-break: break-word;
  text-align: left;
  margin-left: 0.5vw;
  width: 21.2vw;
}

.strength {
  visibility: hidden;
  margin: 0;
}

.weak,
.medium,
.strong {
  visibility: visible;
}

.weak {
  color: #f6f663;
}

.medium {
  color: #ff8c00;
}

.strong {
  color: #fa4f2e;
}

.languages_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  padding: 0 1vw 1vh;
  border-radius: 18px;
  background-color: rgba(34, 34, 34, 0.5);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 85%;
}
